@page "/raidbosses"

@inject HttpClient Http

<h1>Raidboss List</h1>
<h5>For Level 20-40 spawn status is given, may be up to 10 minutes old</h5>
<button @onclick="Reload" class="btn btn-primary" style="margin-bottom:1rem">Reload</button>

@if (rbData == null)
{
    @if (loadingError)
    {
        <div class="alert alert-danger" role="alert">
            Something went wrong.
        </div>
    }
    else
    {
        <div class="spinner-border" role="status" style="margin-left: 1rem">
            <span class="sr-only">Loading...</span>
        </div>
    }
}
else
{
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th class="text-center">Level</th>
                <th class="text-center">Status</th>
                <th class="text-center">Summary(L2Reborn)</th>
                <th class="text-center">Location(L2Portal)</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var rb in rbData)
            {
                <tr>
                    <td><Tooltip TooltipType="TooltipType.Raidboss" Data="rb"><a>@rb.Title</a></Tooltip></td>
                    <td class="text-center">@rb.Level</td>
                    <td class="@(rb.Alive == null ? "table-secondary" : (rb.Alive.Value ? "table-success" : "table-danger")) text-center">
                        @(rb.Alive == null ? "Unknown" : (rb.Alive.Value ? "Alive" : "Dead"))
                    </td>
                    <td class="text-center">
                        <a href="@rb.RebornSummaryAddress" target="_blank">
                            <span class="oi oi-external-link" aria-hidden="true"></span>&nbsp; Summary
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="@(@"http://gracia.l2portal.com/Map.aspx?NpcID=" + rb.ID)" target="_blank">
                            <span class="oi oi-external-link" aria-hidden="true"></span>&nbsp; Location
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    @code {
        private List<RaidBoss> rbData;
        private bool loadingError;


        protected override async Task OnInitializedAsync()
        {
            await Reload();
        }

        private async Task Reload()
        {
            rbData = null;
            loadingError = false;

            try
            {
                Task<List<RaidBoss>> rbTask = DataAccess.FetchRaidbosses(Http);
                Task<List<RaidBossStatus>> rbsTask = DataAccess.FetchRaidbossStatus(Http);
                await Task.WhenAll(rbTask, rbsTask);

                rbData = rbTask.Result.ToList();
                foreach (RaidBoss rb in rbData)
                {
                    RaidBossStatus st = rbsTask.Result.FirstOrDefault(s => s.ID == rb.ID);
                    if (st != null)
                    {
                        rb.Alive = st.Alive;
                    }
                }
            }
            catch
            {
                loadingError = true;
            }
        }
    }
}
